@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;
@import "react-slideshow-image/dist/styles.css";

.quoteSection {
  @include m.flex(column, space-evenly, center);
  margin: v.$font-size-xxxxxl 0;
  height: 40vh;
  color: v.$color-neutral-100;

  &__container {
    background-color: v.$neutral-color;
    @include m.flex(row, space-evenly, center);
    height: 30vh;
  }
  &__card {
    width: 20vw;
    height: 100%;
    @include m.flex(column, space-evenly, center);
    svg {
      height: 40px;
    }
  }

  &__subtitle {
    text-align: center;
  }
}
