@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.heroSection {
  background-image: url("https://fastly.picsum.photos/id/566/800/500.jpg?hmac=vejAAMAQeP84a-4QN06hcyO-drejgwNC-W8PZUhp7Nk");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @include m.flex(column, center, center);
}
