@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.heroSection {
  background-image: url("../../assets/img/background-js-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @include m.flex(column, center, center);
}
