@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.aboutSection {
  @include m.flex(column, space-between, center);
  margin: v.$font-size-xxxxxl 0;
  gap: v.$font-size-xxxxxl;
  &__content {
    width: 80vw;
    @include m.flex(row, space-between, center);
    gap: v.$font-size-xxxxxl;
  }
  &__avatar {
    width: 300px;
    filter: drop-shadow(-50px 0 v.$neutral-color);
  }
  & p {
    text-align: justify;
    font-size: v.$font-size-m;
    line-height: v.$font-size-xl;
    margin: v.$font-size-m 0;
    span {
      color: v.$neutral-color;
      font-weight: v.$font-weight-extrabold;
    }
    svg {
      color: v.$color-neutral-100;
      background-color: v.$color-blue-light;
      padding: 0.2rem;
      margin-right: 0.5rem;
      border-radius: v.$border-radius-circle;
      height: 0.6rem;
    }
  }
}

@media only screen and (max-width: 470px) {
  .aboutSection__content {
    justify-content: center;
    flex-wrap: wrap;
  }
}
