@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.aboutSection {
  @include m.flex(column, space-between, center);
  margin: v.$font-size-xxxxxl 0;
  gap: v.$font-size-xxxxxl;

  &__content {
    width: 60vw;
    @include m.flex(row, space-between, center);
    gap: v.$font-size-xxxxxl;
  }
  &__avatar {
    width: 300px;
  }
  &__paragraphe {
    text-align: justify;
    font-size: v.$font-size-m;
    line-height: v.$font-size-xl;
  }
}
