@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.navbar {
  padding: v.$font-size-m v.$font-size-xxxxxl;
  position: fixed;
  width: 100vw;
  @include m.flex(row, space-between, center);
  transition: background-color 0.5s ease;
  &--backgroundColor {
    background-color: v.$dark-color;
  }
  &__avatar {
    border-radius: v.$border-radius-circle;
    width: 100px;
  }
  &__menu {
    ul {
      @include m.flex(row, space-between, center);
      gap: 1rem;
      font-size: v.$font-size-l;
      a {
        color: v.$color-neutral-100;
      }
    }
  }
}
