@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.skillSection {
  @include m.flex(column, center, center);
  margin: v.$font-size-xxxxxl 0;
  gap: v.$font-size-xxxxxl;
  &__subtitle {
    width: 50vw;
    text-align: center;
  }
  &__grid {
    @include m.flex(row, center, center);
    flex-wrap: wrap;
    gap: v.$font-size-xxxl;
    width: 100%;
    &Card {
      min-width: 200px;
      height: 250px;
      padding: v.$font-size-m;
      border-radius: v.$border-radius-rounded;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      h5 {
        background-color: v.$color-blue-light;
        color: v.$color-neutral-100;
        font-weight: v.$font-weight-extrabold;
        width: fit-content;
        padding: 0.2rem 0.5rem;
        border-radius: v.$border-radius-base;
      }
      &List {
        @include m.flex(column, center, flex-start);
        padding-top: v.$font-size-l;
        gap: v.$font-size-m;
        height: 80%;
        li {
          @include m.flex(row, flex-start, center);
          gap: v.$font-size-s;
        }
        svg,
        img {
          height: 30px;
        }
      }
    }
  }
}
