@use "../../styles/variable" as v;
@use "../../styles/mixin" as m;

.linkSection {
  @include m.flex(column, center, center);
  margin: v.$font-size-xxxxxl 0;
  gap: v.$font-size-xxxxxl;
  img,
  svg {
    height: 40px;
  }
  &__container {
    @include m.flex(row, center, center);
    gap: v.$font-size-xxxl;
    flex-wrap: wrap;
    &Row {
      @include m.flex(row, center, center);
      gap: v.$font-size-xs;
    }
  }
}
